body {
    margin: 0;
    padding: 0;
}

.header {
    background: #0E72AD;
    background: linear-gradient(180deg, rgba(22,121,180,1) 10%, rgba(0,101,153,1) 50%, rgba(22,121,180,1) 90%);
}

.wood {
    height: 40pt;
    background-color: #C96D3C;
    box-shadow: 0 1pt 5pt black;
}

.separator {
    background-color: #0E72AD;
    height: 4pt;
}

.email{
    text-align: right;
    font-size: 20pt;
    color: orange;
    padding: 10px;
    padding-right: 20px;
}

.title {
    margin: 0;
    padding: 30pt;
    text-align: center;
    text-shadow: 0 0 70pt rgb(254, 255, 236);
    color: white;
}

h1 {
    font-size: 60pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 30pt;
}

p{
    font-size: 15pt;
}
.content {
    height: 500px;
    margin: auto;
    padding: 10px;
}

.photo{
    margin-right: 20%;
    float: right;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 5px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.maincontent {
    width: 75%;
    height: 1000px;
    background: white;
    float: left;
}

.sidebar {
    width: 25%;
    height: 1000px;
    background: rgb(226, 226, 222);
    float: right;
}

.skills {
    padding: 20px;

}

.skills p{
    color: #0E72AD
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #494949;
    padding-left: 10%;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 18pt;
}

li a:hover {
    background-color: #111;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #C96D3C;
    padding-left: 25%;
}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 14pt;
}



.active {
    color: #0E72AD !important;
}