body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header {
    background-color: #003AFE;
    background: radial-gradient(circle, rgba(4,114,253,1) 0%, rgba(4,114,253,1) 33%, rgba(0,47,225,1) 77%);
}


.separator {
    background-color: #0E72AD;
    height: 5pt;
}

.title {
    margin: 0;
    padding: 30pt;
    text-align: center;
    text-shadow: 0 0 40pt white;
    color: white;
}

h1 {
    width: 50%;
    font-size: 60pt;
    background:linear-gradient(90deg, rgb(255, 1, 1) 0%, rgb(1, 255, 43) 35%, rgb(4, 89, 248) 100%);
}

h2 {
    font-size: 20pt;
    color: black !important;
}

h3 {
    font-size: 30pt;
}

p{
    font-size: 15pt;
}

#home{
    background: #FD67CB;
    width: 25%;
    height: 10%;
    font-size: 20pt;
}
.content {
    height: 500px;
    margin: auto;
    padding: 10px;
}

.maincontent {
    width: 75%;
    height: 1100px;
    background: white;
    float: left;
}

.email{
    height: 0;
    width: 0;
}

.sidebar {
    width: 25%;
    height: 1100px;
    background: #FFCC00;
    float: right;
}


.skills {
    padding: 20px;
    color: #0E72AD

}

.photo{
    margin-right: 20%;
    float: right;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 24%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.navigation ul {
    list-style-type: none;
    margin-left:20%; 
    margin-right:20%;
    padding: 0;
    overflow: hidden;
    background: #FFD302;
    background: linear-gradient(180deg, rgba(255,216,1,1) 0%, rgba(255,216,1,1) 35%, rgba(248,121,4,1) 100%);
}

.navigation li {
    width: 16%;
    float: left;
}

.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    
}

.header h2{
    background: orange;
    width: 50%;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FD67CB;
    padding-left: 25%;
}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    font-size: 14pt;
}

/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
}

.active {
    color: #FD67CB;
}